<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript" src="autocomplete.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>

<body>
	
	<div class="container" ng-app="SpotiFynd" ng-controller="FyndController">		
	
      <autocomplete ng-model="searchBox" data="artists" on-type="updateArtists"></autocomplete>

		<div class="row">
		<span ng-repeat="x in artistDetails.thisArtist">			
		<div class="col-md-3">
			<a href="#" ng-click="showAlbum(x.id)">		  
				<img ng-src="{{x.image}}" alt="Pulpit Rock" class="img-circle" style="width:204px;height:204px">
				<p>{{x.name}}</p>
			</a>
		</div>
<br/>
		<div class="album-details" ng-show="showAlbumDetails">
		<b><div class="page-header">{{x.name}}'s Albums</div></b>
		<span ng-repeat="album in albumDetails.thisAlbum">
		 <div class="col-md-3">
				<img ng-src="{{album.albumImage}}" alt="Pulpit Rock" class="img-circle" style="width:204px;height:204px">
				<p>{{album.albumName}}</p>			
		  </div>
        </div>

		</span>
		</div>
  
	</div>
</body>




</html>